.nav {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(12px);
    align-items: center;
}

.title {
    font-size: 23px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-left: 30px;
    text-align: center;
}

@media (max-width: 576px) {
    .nav {
        flex-flow: column;
    }

    .title {
        margin-left: 0;
        margin-bottom: 10px;
        margin-top: 5px;
    }
}